body {
    background-color: #FFEDB5;
}

button {
    background-color:#40282C;
    color: #FFEDB5;
    border: none;
    font-family: 'Germania One', cursive;
    font-weight: lighter;
    border-radius: 5px;
    font-size: 20px;
}

.jumbotron {
    background-color: #40282C;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(to right,
      rgba(64, 40, 44, 1), 
      rgba(64, 40, 44, 1) calc(100% - 380px), 
      rgba(64, 40, 44, 0.5) calc(100% - 290px), 
      rgba(64, 40, 44, 0.5)
    ),
    /* bottom, image */
    url("/assets/img/beef-blur-bread-2083959.jpg");
    /*background-image: url("/assets/img/beef-blur-bread-2083959.jpg");*/
    background-size: auto 100%;
    background-position: center right;
    background-repeat: no-repeat;
}

h1 {
    font-size: 200px;
    font-family: 'Germania One', cursive;
    color: #888C07;
    text-shadow: 0 0 4px black;
}   

h2 {
    color: #101240;
    font-family: 'Germania One', cursive;
    margin-top: 0;
}

.lead {
    color: #FFEDB5;
    text-shadow: 0 0 2px black;
}

ul {
    height: 250px;  
    overflow: auto;
    list-style-type: none;
}

li::before {
    content: attr(data-id);
    font-family: 'Germania One', cursive;
    font-size: 20px;
    color: white;

    text-align: center;
    line-height: 1.5em;
    text-shadow: 0 0 2px black;
    display: inline-block;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;  
    background-image: url("/assets/img/hamburger-pngrepo-com.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
}

li {
    position: relative;
    margin-bottom: 5px;
}

.devour-it {
    display: inline-block;
    position: absolute;
    right: 0;
    height: 100%;
}

#plate-icon {
    display: inline-block;
    background-image: url("/assets/img/restaurant-plate-pngrepo-com.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 25%;
    height: 130px;
    margin-right: 20px;
}

#fill-your-plate {
    display: inline-block;
    width: calc(70% - 20px)
}   

#new-burger {
    width: 100%;
}